{{>head}}

    {{>navbar}}

    <div class="row">

        <div class="col-8">

            <h1>Link</h1>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nemo, eum totam magnam, necessitatibus sint adipisci esse, officia quo provident quis. Iusto molestias nostrum nobis maxime non dolores excepturi quia?
            </p>
        </div>

        <div class="col-4">

            <img src="assets/img/[외도중이라 동결]ED on Twitter.jfif" class="img-thumbnail">

        </div>

    </div>

{{>footer}}
